body{
	text-align: center
}
ul{
	margin: auto;
	height: 90vh;
	padding-left: 0px;
	max-width: 60%;
	border: thin solid black;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: linear-gradient(to bottom right, #00d3ba, #b479d6);
	padding-top: 2%;
	box-shadow: 3px 3px 21px black;
}
#counter{
	margin-top: 1%;
	font-size: 1em;

}

li{
	display: block;
	height: 20vh;
	width:20%;
	margin: 0 3% 2% 0;
	border: thin solid black;
	border-radius: 10px;
	list-style: none;
	justify-content: center;
	cursor: pointer;
	box-shadow: 3px 3px 21px;

}
.fa{
	text-align: center;
	vertical-align: middle;
	background-color: #00d4ba;
	line-height: 17vh;
	color: white;
}
.hidden{
	background-color: #253d4b;
	background-image: ['card-type'];
}

